.footer {
    min-height: 210px;

    &_logo_container {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-left: 7%; 
    }

    &_logo {
        font-size: 1.2rem;
        font-weight: bold;
        color: hsl(0, 0%, 100%);
    }

    .description {
        margin-left: 7%;
        color: hsla(0, 0%, 80%, 0.8);
        margin-top: 0.7rem;
        font-size: 0.9rem;
    }

    .divider_top {
        margin-bottom: 2.3rem;
        border: 0.1px solid hsla(0, 0%, 32%, 0.5);
    }

    .divider_bottom {
        margin-top: 2.9rem;
        border: 0.1px solid hsla(0, 0%, 32%, 0.5);
        width: 86%;
    }

    .copyright {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: hsla(0, 0%, 80%, 0.8);
        margin-left: 7%;
    }
}